.AboutHeaderImgContainer {
  background-image: url("../../images/backgrounds/sunrise.jpg");
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.AboutTextContainer {
  text-align: left;
  padding: 60px 40px;
}

.AboutTextContainer h3 {
  margin-bottom: 15px;
}

.AboutTextContainer p {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .AboutHeaderImgContainer {
    background-image: url("../../images/backgrounds/sunrise-wide.jpg");
  }

  .AboutTextContainer {
    width: 80%;
    margin: auto;
    padding: 60px 0;
  }
}

@media screen and (min-width: 1024px) {
  .AboutHeaderImgContainer {
    background-image: url("../../images/backgrounds/sunrise-wide-desktop.jpg");
    height: 60vh;
  }

  .AboutTextContainer {
    width: 80%;
    margin: auto;
    padding: 60px 0;
  }
}