@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.Home {
  width: 100%;
  height: 100vh;
}

.Focus {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.Focus:nth-child(3) {
  height: 25%;
}

.Focus:nth-child(4) {
  height: auto;
}

.WideMixImg {
  display: none;
}

.FocusText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: black;
  text-align: center;
  padding: 0 30px;
}

.FocusText:nth-child(3) {
  height: auto;
  padding: 80px 30px;
}

.FocusText p {
  font-family: 'Ibarra Real Nova', serif;
  color: white;
  font-size: 25px;
  margin: 0;
  
}

@media screen and (min-width: 1024px) {
  .WideMixImg {
    display: block;
  }

  .SmallMixImg {
    display: none;
  }
}