/* @import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap'); */

/* .navbar {
  width: 20px;
} */

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.NavContainer .menu-items {
  display: flex;
}
/* .navbar  */
.NavContainer li {
  list-style: none;
}
/* .navbar  */
/* .nav-container Link {
  font-family: 'Afacad', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #616c75;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
} */

.NavLink {
  font-family: 'Afacad', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #616c75;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
/* .navbar  */
/* .nav-container a:hover{
    font-weight: bolder;
} */

.NavContainer {
  display: block;
  position: relative;
  height: 50px;
  width: 0;
}

.NavContainer .Checkbox {
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  top: 13px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.NavContainer .HamburgerLines {
  display: block;
  height: 23px;
  width: 29px;
  position: absolute;
  top: 14px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavContainer .HamburgerLines .Line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.NavContainer .HamburgerLines .Line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.NavContainer .HamburgerLines .Line2 {
  transition: transform 0.2s ease-in-out;
}

.NavContainer .HamburgerLines .Line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
/* .navbar  */
.MenuItems {
  box-sizing: border-box;
  padding-top: 120px;
  height: 100vh;
  width: 40vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: black;
}
/* .navbar  */
.MenuItems li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.NavContainer input[type="checkbox"]:checked ~ .MenuItems {
  transform: translateX(0);
}

.NavContainer input[type="checkbox"]:checked ~ .HamburgerLines .Line1 {
  transform: rotate(45deg);
}

.NavContainer input[type="checkbox"]:checked ~ .HamburgerLines .Line2 {
  transform: scaleY(0);
}

.NavContainer input[type="checkbox"]:checked ~ .HamburgerLines .Line3 {
  transform: rotate(-45deg);
}

.NavContainer input[type="checkbox"]:checked ~ .logo{
  display: none;
}

@media screen and (min-width: 768px) {
  .NavContainer {
    display: none;
  }
}
