.LinkContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .LinkContainer {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-left: auto;
  }

  .NavLinkHorizontal {
    text-decoration: none;
    height: fit-content;
  }

  .NavLinkHorizontal h2 {
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
  }

}
