.LinkContainer {
  display: none;
}

@media screen and (min-width: 1024px) {
  .LinkContainer {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: auto;
  }

  .NavLinkHorizontal {
    font-family: 'Afacad', sans-serif;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
  }

}
