.BlogPostWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.BlogPostWrapper h4 {
  margin: 0;
  margin-top: 15px;
}

.BlogPostWrapper p:nth-child(3) {
  margin: 5px 0 15px 0;
  font-size: 14px;
}

.BlogPostWrapper p:nth-child(4) {
  margin: 0;
  background-image: linear-gradient(180deg,#000000 0%,rgba(0,0,0,0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.BlogImage {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .BlogPostWrapper {
    width: 300px;
  }
  .BlogImage {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {

}