footer {
  width: 100%;
  background-color: black;
  padding: 50px 0;
}

.FooterLinkWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.FooterLinkWrapper ul {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 25px;
  padding: 0;
  text-align: left;
  list-style: none;
}

.FooterLinkWrapper li {
  margin: 10px 0;
  color: white;
}

a {
  text-decoration: none;
}

.SocialWrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.Logo {
  margin-right: 25px;
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .FooterLinkWrapper {
    width: 90%;
  }

}

@media screen and (min-width: 1024px) {
  .FooterLinkWrapper ul {
    width: 100%;
    display: flex;
  }

  .FooterLinkWrapper li {
    margin-right: 35px;
    font-size: 28px;
  }

  .FooterLinkWrapper li:hover {
    cursor: pointer;
  }

  .Logo {
    width: 35px;
    height: 35px;
  }

  .Logo:hover {
    cursor: pointer;
  }
}