header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  border-bottom: 1px solid white;
}

.Cart {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  margin: 0 20px;
}

@media screen and (min-width: 768px) {
  header {
    height: 100px;
    opacity: 50%;
    border: none;
    justify-content: flex-end;
  }

  .Cart {
    position: relative;
    margin: 0 30px 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0 250px;
  }
}