.PopularContainer {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.SectionTitle {
  margin-bottom: 25px;
}

.SectionTitle p {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 25px;
}

.SectionTitle h2 {
  margin: 0;
}

.SectionTitle p {
  font-style: italic;
  margin: 0;
}

.PopProductList {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .PopProductList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .PopProductList {
    width: 80%;
    margin: auto;
    padding: 0;  }
}