@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.PopularContainer {
  width: 100%;
  height: auto;
  font-family: 'Ibarra Real Nova', serif;
}

.SectionTitle {
  padding-top: 50px;
}

.SectionTitle h3 {
  font-size: 30px;
  margin: 0;
}

.SectionTitle p {
  font-size: 25px;
  font-style: italic;
  margin: 0;
}